*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header-section{
    background-color: rgb(10, 12, 6);
    height:130px;
    max-width:100%;
    display:flex;
    justify-content: space-around;
}
.profile{
    color:white;
    padding:10px;
    margin-top:19px;
}
.header-section>img{
    max-width:230px;
    max-height:230px;
    border-radius: 50%;
}
main { 
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2em;
}
section{
  margin:40px;
  background-color: rgb(252, 248, 243);
  border-radius: 20px;
  padding:10px;
}
.left-part {
    border-right: 2px solid rgb(121, 119, 119);
    max-height:1000px;
    padding-left:10px;
}
p{
  font-size: 15px;
  font-weight: 300;
}
h2{
  margin-bottom:8px;
  letter-spacing: 2px;
  width: fit-content;
}
h2::after{
  content: '';
    width: 0%;
    height:2px;
    background: #080808;
    display:block;
    margin:auto;
    transition: 0.5s;
}
h2:hover::after{
  width:100%;
}
i,a{
  margin:5px;
} a{
  text-decoration: none;
}

.skills>ul{
  padding-left:20px;
}
.skills>ul>li{
  padding:4px;
  list-style: disc;
}

.education>ul{
  padding:10px;
}
.education>ul,li{
  padding-left:10px;
  list-style:none;
}
 

.about-section>p{
  font-size: 13px;
}

.certificates>ol{
  padding-left:20px;
}
.certificates>ol>li{
  padding:4px;
  list-style: disc;
}

.Activities>ul{
  padding-left:20px;
}
.Activities>ul>li{
  padding:4px;
  list-style: disc;
}
footer{
  text-align: center;
}